### Classification: kNN 
# Packages

### Install packages

In [1]:
!pip install pandas
!pip install numpy
!pip install scipy
!pip install sklearn
!pip install matplotlib

Requirement already satisfied: pandas in c:\users\sveta\anaconda3\lib\site-packages (1.0.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\sveta\anaconda3\lib\site-packages (from pandas) (2017.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\sveta\anaconda3\lib\site-packages (from pandas) (2.6.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\sveta\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: six>=1.5 in c:\users\sveta\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.11.0)
Requirement already satisfied: numpy in c:\users\sveta\anaconda3\lib\site-packages (1.18.1)
Requirement already satisfied: scipy in c:\users\sveta\anaconda3\lib\site-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\sveta\anaconda3\lib\site-packages (from scipy) (1.18.1)
Requirement already satisfied: sklearn in c:\users\sveta\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\sveta\anaconda3\lib\site-packages (from sklearn) (0.22.1)
Requirement already satisfied: scipy>=0.17.0 in c:\users\sveta\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in c:\users\sveta\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.11)
Requirement already satisfied: numpy>=1.11.0 in c:\users\sveta\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.18.1)
Requirement already satisfied: matplotlib in c:\users\sveta\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.7.1 in c:\users\sveta\anaconda3\lib\site-packages (from matplotlib) (1.18.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sveta\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\sveta\anaconda3\lib\site-packages (from matplotlib) (2.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\sveta\anaconda3\lib\site-packages (from matplotlib) (2.6.1)
Requirement already satisfied: pytz in c:\users\sveta\anaconda3\lib\site-packages (from matplotlib) (2017.3)
Requirement already satisfied: six>=1.10 in c:\users\sveta\anaconda3\lib\site-packages (from matplotlib) (1.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sveta\anaconda3\lib\site-packages (from matplotlib) (1.2.0)

### Import packages

In [2]:
import numpy as np
import pandas as pd

In [3]:
import pylab as pl
from sklearn.neighbors import KNeighborsClassifier
%matplotlib inline

# Data

### Read data

In [4]:
df = pd.read_csv('D:/ddoc/DLEARN/Simulation-KL/PSs/PS9/Data/credit_card1.csv')

Use the next line for Mac

In [ ]:
df = pd.read_csv('~/Desktop/credit_card1.csv')

List the columns included in the data

In [5]:
list(df.columns.values)

['ID',
 'Limit_Bal',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default']

Create new dataset without ID variable

In [6]:
cdf = df[df.columns[1:]]
list(cdf.columns.values)

['Limit_Bal',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default']

## Split Data

In [7]:
test_idx = np.random.uniform(0, 1, len(cdf)) <= .2
train = cdf[test_idx == True]
test = cdf[test_idx == False]

In [8]:
train.head()

,Limit_Bal,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
11,260000,2,1,2,51,-1,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
12,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
18,360000,2,1,1,49,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0

# Analysis
## Features used to predict classification

In [9]:
features = ['Limit_Bal', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 
           'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3',
           'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
           'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

## Chose n and conduct kNN classification

In [10]:
n = 5   # Neighbors
results = []

clf = KNeighborsClassifier(n_neighbors = n)

In [11]:
clf.fit(train[features], train['default'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [12]:
preds = clf.predict(test[features])

In [13]:
accuracy = np.where(preds == test['default'], 1, 0).sum() / float(len(test))*100

## Print results

In [14]:
print("Neighbors: %d, Accuracy: %2f%%" % (n, round(accuracy, 2)))

Neighbors: 5, Accuracy: 74.500000%